# WebArena 实例 0 @ GCRSANDBOX410.redmond.corp.microsoft.com
export SHOPPING="http://GCRSANDBOX410.redmond.corp.microsoft.com:7770"
export SHOPPING_ADMIN="http://GCRSANDBOX410.redmond.corp.microsoft.com:7780/admin"
export REDDIT="http://GCRSANDBOX410.redmond.corp.microsoft.com:9999"
export GITLAB="http://GCRSANDBOX410.redmond.corp.microsoft.com:8023"
export WIKIPEDIA="http://GCRSANDBOX410.redmond.corp.microsoft.com:8888/wikipedia_en_all_maxi_2022-05/A/User:The_other_Kiwix_guy/Landing"
export HOMEPAGE="http://GCRSANDBOX410.redmond.corp.microsoft.com:4399"
export MAP="http://GCRSANDBOX410.redmond.corp.microsoft.com:3000"   # map 只有一份，两套实例共用
